@{
    ViewData["Title"] = "Home Page";
}

<!-- SmartWizard html -->
<div id="smartwizard">
    <ul class="nav nav-progress">
        <li class="nav-item">
            <a class="nav-link" href="#step-1">
                <div class="num">1</div>
                Dados Pessoais
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#step-2">
                <span class="num">2</span>
                Endereço
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#step-3">
                <span class="num">3</span>
                Contactos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#step-4">
                <span class="num">4</span>
                Confirmar os dados 
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div class="row">
                <h4>Dados Pessoais</h4>
               <div class=" col col-6">
                   <span>Nome: <input type="text" placeholder="Digita o sue nome" /> </span> 
               </div>
                <div class=" col col-6">
                    <span>Idade: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
                <div class=" col col-6">
                    <span>Data de Nascimento: <input type="date" placeholder="Digita o sue nome" /> </span>
                </div>
            </div>
            <br />

            <button class="btn btn-secondary sw-btn-prev">Anterior</button>
            <button class="btn btn-primary sw-btn-next">Próximo</button>
        </div>
        <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
            <div class="row">
                <h4>Endereço</h4>
                <div class=" col col-6">
                    <span>Pais: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
                <div class=" col col-6">
                    <span>Cidade: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
                <div class=" col col-6">
                    <span>Bairro: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
            </div>
            <br />
            <button class="btn btn-secondary sw-btn-prev">Anterior</button>
            <button class="btn btn-primary sw-btn-next">Próximo</button>
        </div>
        <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
            <div class="row">
                <h4>Contactos</h4>
                <hr />
                <div class=" col col-6">
                    <span>Telefone: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
                <div class=" col col-6">
                    <span>Email: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
                <div class=" col col-6">
                    <span>Facebook: <input type="text" placeholder="Digita o sue nome" /> </span>
                </div>
            </div>
            <br />  
            <button class="btn btn-secondary sw-btn-prev">Anterior</button>
            <button class="btn btn-primary sw-btn-next">Próximo</button>
        </div>
        <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
             
            <button class="btn btn-secondary sw-btn-prev">Anterior</button>
            <button class="btn btn-success sw-btn-end">Salvar</button>
        </div>
    </div>

    <!-- Include optional progressbar HTML -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<!-- FIM SmartWizard html -->